<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38240410420-cq9aagtj4lcfjd43ct0irvq4kf0aqf8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38240410420-cq9aagtj4lcfjd43ct0irvq4kf0aqf8h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>38240410420-0ndlsqfup32ug42nrcdauj7t8e5akqco.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAb_FxwZ_IMKdM5zk6eSOgIHzN_Gobhmmw</string>
	<key>GCM_SENDER_ID</key>
	<string>38240410420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gochon.haru</string>
	<key>PROJECT_ID</key>
	<string>gochon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gochon-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38240410420:ios:b93224c309a97c5015e361</string>
</dict>
</plist>